@use 'sass:map';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/theme.scss';

.sm-icon {
  height: 20px;
  display: inline;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
